# Database connection string used by Prisma (PostgreSQL)
DATABASE_URL="postgresql://tutoriatech_user:tutoriatech_pass@db:5432/tutoriatech?schema=public"

# Server Port inside container
PORT=3001

# JSON Web Token Secret (Chave do painel de login). Em produção, troquem por algo longo e complexo
JWT_SECRET="fallback_secret_troque_em_producao"
