# Database connection string used by Prisma
DATABASE_URL="mysql://root:mariadb123@db:3306/tutoria"

# Server Port inside container
PORT=3001

# JSON Web Token Secret (Chave do painel de login). Em produção, troquem por algo longo e complexo
JWT_SECRET="fallback_secret_troque_em_producao"
